@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #ffffff;
    z-index: 2;
    transition: 0.5s;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu2.jpg');
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: url('menu-close.jpg');
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase.active{
    right: 300px;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.text{
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .text h2{
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text h3{
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
    text-transform: capitalize;
  }

  .text p{
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px;
    max-width: 700px;
  }

  .text a{
    display: inline-block;
    font-size: 1em;
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .text a:hover{
    letter-spacing: 6px;
  }
  .logo{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #da0000;
    mix-blend-mode: overlay;
  }

  .socials{
    position: absolute;
    bottom: 20px;
    margin-right: 20;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials li{
    list-style: none;
  }

  .socials li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(1.3);
    transition: 0.5s;
  }

  .socials li a:hover{
    transform: scale(1.3) translateY(-15px);

  }

  @media(max-width: 991px){
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h3{
        font-size: 2em;
    }
  }