@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;

}
video{
    width: 100%;
    height: 100%;
}

.socials{
    color: black;
}

